<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
        <div class="d-flex flex-column justify-content-center" style="height: 250vh; margin-top: -45rem; background-color: #34D7FB ">
        <h3 class="text-center text: align-center" style="height: 10vh" >About us </h3>
        <p>Welcome to BookCare! Here, we offer you a variety of medical equipments, vitamins, medicine and everything you need
         Our e-shop has everything you might need, we made our website so that it is easy to use by everyone.
            We hope that we can satisfy your expectations and requirements.
            You are also welcome to contact up if you have any questions or any problems, we will help you!</p>
    </div>
        </div>
</body>