<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Contact Us</h2>
            <p>If you run into some problems or difficulties and you need help, please contact us:</p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 text-center">
            <img src="../../data/emailogo.png" alt="Email Logo" class="img-fluid">
            <p>Email: book@care.com</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="../../data/instagramlogo.jpg" alt="Instagram Logo" class="img-fluid">
            <p>Instagram: @bookcare_instagram</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="../../data/faccebooklogo.png" alt="Facebook Logo" class="img-fluid">
            <p>Facebook: BookCare Facebook</p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <p>If you have any questions or need assistance, feel free to reach out to us on any of the above platforms, or contact us via phone:</p>
            <p>Phone: +(123) 456-789</p>
        </div>
    </div>
</div>
</body>