
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <style>
        .btn-custom {
            background-color: #34D7FB;
            color: white;
            border-color: #34D7FB;
        }
          .btn-custom me-2{
            background-color: #34D7FB;
            color: white;
            border-color: #34D7FB;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 90vh">
        <img src="../../data/logo.png" class="mb-3" style="max-width: 150px;">
        <p class="text-center fs-2 lh-base">
        <h1>BookCare</h1>
        <h2>Better health starts here!</h2>
        </p>
        <div class="d-flex">
            <a class="btn btn-custom me-2" href="/login">Login here</a>
            <a class="btn btn-custom" href="/register">Register here</a>

        </div>
    </div>
</div>
</body>
