<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <style>
        .btn-primary {
            background-color: #34D7FB;
            border-color: #34D7FB;
        }
        .btn-primary2{
            background-color: #01FDFD;
            border-color: #01FDFD;
            width: 200px;
            color: white;

        }
        .card-img-top {
            max-height: 350px;
        }
    </style>
</head>
<body>

<div class="container mt-3">
    <h1>Products</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="VitaminC card " >
                <img src="../../data/products/C vitamin/vitamin_c.png" class="card-img-top" alt="Vitamin C" >
                <div class="card-body">
                    <h5 class="card-title">Vitamin C</h5>
                    <p class="card-text">Vitamin C prevents and treats low vitamin C levels in your body. Vitamin C
                        plays an important role in maintaining the health of your blood vessels, bones, and immune
                        system. It can also help wounds heal. It is an antioxidant, which helps protect your cells.</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="DetskiInhalator card">
                <img src="../../data/products/detski_inhalator/detski_inhalator.png" class="card-img-top"
                     alt="Inhalator">
                <div class="card-body">
                    <h5 class="card-title">Children's Inhaler</h5>
                    <p class="card-text">Children's inhaler</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="masks card">
                <img src="../../data/products/maski/maski.png" class="card-img-top" alt="masks">
                <div class="card-body">
                    <h5 class="card-title">Masks</h5>
                    <p class="card-text">Masks</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="masks card">
                <img src="../../data/products/porbiotics/probiotics.png" class="card-img-top" alt="porbiotics">
                <div class="card-body">
                    <h5 class="card-title">Probiotics</h5>
                    <p class="card-text">Probiotics help your body maintain a healthy community of microorganisms or
                        help your body's community of microorganisms return to a healthy condition after being
                        disturbed. </p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="masks card">
                <div class="spf-50">
                    <img src="../../data/products/spf/spf.png" class="card-img-top" alt="spf">
                    <div class="card-body">
                        <h5 class="card-title">SPF+50</h5>
                        <p class="card-text">Sunscreens are a good choice to reduce aging and protect your skin from
                            the sun!</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="masks card">
                <div class="tablets-for-chewing-kids">
                    <img src="../../data/products/tableti_za_dzvakanje/tableti_za_dzvakanje.png" class="card-img-top" alt="tablets-for-chewing">
                    <div class="card-body">
                        <h5 class="card-title">Tablets for Chewing for Kids</h5>
                        <p class="card-text">Tablets for chewing for kids are good for health</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col text-center">
        <a href="/start.html" class="btn btn-primary2">Back</a>
    </div>
</div>
</div>
</body>